useDynLib(SNPFastImpute, .registration=TRUE)
importFrom(Rcpp, evalCpp)
#exportPattern("^[[:alpha:]]+")
import(foreach)
import(doRNG)
import(doParallel)
export(classification_error)
export(vcf2df)
export(Create_Single_SNP_Object)
export(NA_Generator)
export(Impute_GenoType_XGBoost)
export(Impute_GenoType_XGBoost_para)
